.breadcrumbs {
  width: 100%;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.1em 2ch;

  padding: 0;
}

.breadcrumbs li {
  list-style-type: ">";

  padding: 0;
  margin: 0;
  padding-inline-start: 1ch;

  direction: rtl;
}

.breadcrumbs li:first-of-type {
  padding-inline-end: 0;
}

.breadcrumbs li:last-of-type {
  list-style-type: none;
}

.breadcrumbs li::marker {
  direction: ltr;
}

.breadcrumbs a {
  color: inherit;
}