.gig-form {
  display: grid;
  place-content: center;
  justify-items: center;
}

.gig-form__wrapper {
  display: grid;

  padding: 0;
  border: none;
}

.gig-form__scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100vw;

  overflow: auto;
  scroll-snap-type: x mandatory;
}

.gig-form__scroller > * {
  scroll-snap-align: center;
}

.gig-form__section {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: var(--space-block--xl);

  padding: var(--size-fluid-5) var(--app-gutter);
  border: none;
}

.gig-form__section > label {
  display: grid;
  gap: var(--space-block--m);
}

.gig-form__scroll-hint {
  align-self: flex-end;
  justify-self: flex-end;

  align-items: center;
  justify-content: flex-end;
  gap: var(--space-inline--m);

  font-size: var(--font-size-2);
  color: var(--text-2);
  opacity: 0.75;
}

.gig-form__scroll-hint svg {
  display: inline-block;
  fill: var(--text-1);
  width: 1.5em;
  margin-bottom: -0.5em;
  margin-left: 1ch;
}

.gig-form__submit {
  display: grid;
  place-content: center;
  gap: var(--space-block--l);

  padding: var(--app-gutter);
}

.gig-form__average-score {
  display: grid;
  place-items: center;
}

.gig-form__average-score > span {
  font-size: var(--font-size-8);
}

.gig-form button[type=submit] {
  font-size: var(--font-size-4);
}
