.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.5);
  z-index: var(--layer-4);
}

.overlay:not([data-is-visible=true]) {
  display: none;
}

.overlay[data-is-open=true] {
  animation: var(--animation-fade-in);
}

.overlay[data-is-open=false] {
  animation: var(--animation-fade-out);
  animation-duration: .2s;
}