.score-input {
  display: grid;
  place-items: center;
  gap: 2em;

  font-size: var(--font-size-fluid-1);
}

.score-input__scores {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-auto-flow: column;
  gap: 0.5em;

  font-family: var(--font-sans);
  font-size: var(--font-size-5);
}

.score-input input {
  margin: 0;
  padding: 0;

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;

  width: 0;
  height: 0;
}

.score-input label {
  display: inline-flex;
  place-content: center;

  line-height: var(--font-lineheight-00);
  height: 1em;
  aspect-ratio: 1 / 1;
}

.score-input label:hover {
  cursor: pointer;
}

.score-input label:has(input:checked) {
  border: 1px solid var(--text-1);
}
