.score-summary {
  display: grid;
  grid-template-columns: auto min-content;
  align-items: flex-end;
  gap: 0.25em var(--space-inline--xxl);
}

.score-summary__value {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.score-summary__value span {
  font-size: var(--font-size-5);
}

.score-summary__value i {
  font-size: var(--font-size-1);
}