.score-snippet {
  display: grid;
  gap: var(--space-inline--m);
}

.score-snippet figure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1em);
  grid-auto-flow: column;
  place-items: center;
  place-content: center;
  gap: 0 var(--space-inline--m);

  font-family: monospace;
}

.score-snippet figure span {
  display: block;
  overflow: hidden;

  width: 1ch;
  height: 1em;
  line-height: 0.9em;
}

.score-snippet figcaption {
  display: grid;
  align-items: center;
  gap: var(--space-inline--m) 0em;

  font-size: var(--font-size-1);
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-0);
}
