.score-guides {
  --animation-delay-base: 4s;
  --animation-delay-increment: 1.5s;
  --animation-duration: 1s;
}

.score-guides {
  display: grid;
  gap: var(--space-block--m);
  place-content: center;
}

.score-guides[data-is-intersecting=false] {
  opacity: 0;
}

.score-guides[data-is-intersecting=true]>* {
  max-width: var(--size-content-2);

  animation: var(--animation-fade-out) reverse;

  animation-timing-function: var(--ease-squish-5);
  animation-duration: var(--animation-duration);
  animation-fill-mode: backwards;
  animation-delay: var(--animation-delay-base);
}


.score-guides>*:nth-child(3n) {
  animation-delay: calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 1));
}

.score-guides>*:nth-child(4n) {
  animation-delay: calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 2));
}

.score-guides>*:nth-child(5n) {
  animation-delay: calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 3));
}

.score-guides>*:nth-child(6n) {
  animation-delay: calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 3));
}

@media (prefers-reduced-motion) {
  .score-guides>* {
    animation-delay: 0s !important;
    animation-duration: 0s !important;
  }
}