.score-input {
  display: grid;
  place-items: center;
  gap: 2em;

  font-size: var(--font-size-fluid-1);
}

.score-input__scores {
  display: grid;
  grid-template-columns: 1em auto;
  grid-auto-flow: column;
  gap: 0.5em;

  font-family: var(--font-sans);
  font-size: var(--font-size-5);
}

.score-input input {
  margin: 0;
  padding: 0;

  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;

  width: 0;
  height: 0;
}

.score-input label {
  display: flex;
  place-content: center;
  place-items: center;

  overflow: hidden;
}

.score-input label:hover {
  cursor: pointer;
}

.score-input label:has(input:checked) ~ label:has(input:not(:checked)) {
  filter: grayscale(100);
}

.score-input label:has(input:checked) {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--surface-2) 50%
  );

  border-bottom: 4px double var(--text-1);
}

/* .score-input input:checked::before {
  transform: scale(1);
} */

/* input:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
} */