:where(form) {
  display: grid;
  gap: 1.5em;
}

:where(form button[type=submit]) {
  margin-top: var(--space-block--s);
}

:where(fieldset) {
  display: grid;
  gap: var(--space-block--m);

  border: none;
  padding: 0;
  max-width: var(--size-content-2);
}

:where(form > label),
:where(fieldset > label) {
  display: grid;
  gap: var(--space-block--s);
}
