form,
fieldset {
  display: grid;
  gap: 1.5em;
}

form button[type=submit] {
  margin-top: 0.5em;
}

fieldset {
  border: none;
  padding: 0;
  max-width: var(--size-content-2);
}

form > label,
fieldset > label {
  display: grid;
  gap: 0.5em;
}
