:root {
  /* --font-serif: 'Roboto Slab', times, serif; */
  --font-sans: 'Source Code Pro', monospace, system-ui , sans-serif;
}

body, main {
  display: grid;
  grid-template-rows: 1fr;

  font-family: var(--font-sans);
  letter-spacing: var(--font-letterspacing-1);
}

button {
  text-transform: uppercase;
  font-family: var(--font-sans);
}

[hidden] {
  display: none;
}

h1 {
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-00);
  max-width: 14ch;
}

h2 {
  letter-spacing: var(--font-letterspacing-2);
  line-height: var(--font-lineheight-0);
  max-width: 14ch;
}

h3 {
  letter-spacing: var(--font-letterspacing-1);
  line-height: var(--font-lineheight-1);
}

code {
  white-space: pre-wrap;
}

@media (pointer: fine) {
  [data-only-touch] {
    display: none;
  }
}

@media (pointer: coarse) {
  [data-only-cursor] {
    display: none;
  }
}