:root {
  --brand: var(--violet-7);
  --link: var(--violet-7);
  --link-visited: var(--purple-7);
  --app-gutter: var(--size-fluid-4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --link: var(--cyan-4);
    --link-visited: var(--purple-6);
  }
}