:root {
  /* colors */
  --brand: var(--purple-7);

  /* spacing, paddings */
  --app-gutter: var(--size-fluid-4);

  --space-block--s: 0.5em;
  --space-block--m: 1em;
  --space-block--l: 2em;
  --space-block--xl: 3em;

  --space-inline--m: 0.5em;
  --space-inline--l: 1em;
  --space-inline--xxl: 4em;

  --section-divider-height: 4px;
}

/* THEMES */
:root {
  /* light */
  --brand-light: var(--blue-6);
  --text-1-light: var(--gray-8);
  --text-2-light: var(--gray-7);
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;

  --section-divider-light: var(--gradient-3);

  /* pop */
  --brand-pop: var(--orange-6);
  --text-1-pop: var(--gray-8);
  --text-2-pop: var(--gray-7);
  --surface-1-pop: var(--gray-0);
  --surface-2-pop: var(--gray-1);
  --surface-3-pop: var(--gray-2);
  --surface-4-pop: var(--gray-3);
  --surface-shadow-pop: var(--gray-8-hsl);
  --shadow-strength-pop: 2%;

  --section-divider-pop: var(--gradient-2);

  /* metal */
  --brand-metal: var(--orange-3);
  --text-1-metal: var(--gray-3);
  --text-2-metal: var(--gray-5);
  --surface-1-metal: var(--gray-12);
  --surface-2-metal: var(--gray-11);
  --surface-3-metal: var(--gray-10);
  --surface-4-metal: var(--gray-9);
  --surface-shadow-metal: var(--gray-12-hsl);
  --shadow-strength-metal: 80%;

  --section-divider-metal: var(--gradient-6);

  /* rap */
  --brand-rap: var(--orange-4);
  --text-1-rap: var(--gray-3);
  --text-2-rap: var(--gray-4);
  --surface-1-rap: var(--gray-8);
  --surface-2-rap: var(--gray-7);
  --surface-3-rap: var(--gray-6);
  --surface-4-rap: var(--gray-5);
  --surface-shadow-rap: var(--gray-9-hsl);
  --shadow-strength-rap: 20%;

  --section-divider-rap: var(--gradient-6);

  /* electronica */
  --brand-electronica: var(--purple-5);
  --text-1-electronica: var(--purple-9);
  --text-2-electronica: var(--purple-7);
  --surface-1-electronica: var(--purple-0);
  --surface-2-electronica: var(--purple-1);
  --surface-3-electronica: var(--purple-2);
  --surface-4-electronica: var(--purple-3);
  --surface-shadow-electronica: var(--purple-12-hsl);
  --shadow-strength-electronica: 2%;

  --section-divider-electronica: var(--gradient-6);

  /* rnb */
  --brand-rnb: var(--purple-5);
  --text-1-rnb: var(--purple-9);
  --text-2-rnb: var(--purple-7);
  --surface-1-rnb: var(--purple-0);
  --surface-2-rnb: var(--purple-1);
  --surface-3-rnb: var(--purple-2);
  --surface-4-rnb: var(--purple-3);
  --surface-shadow-rnb: var(--purple-12-hsl);
  --shadow-strength-rnb: 2%;

  --section-divider-rnb: var(--gradient-6);

  /* afrobeat */
  --brand-afrobeat: var(--choco-5);
  --text-1-afrobeat: var(--choco-1);
  --text-2-afrobeat: var(--choco-2);
  --surface-1-afrobeat: var(--choco-12);
  --surface-2-afrobeat: var(--choco-11);
  --surface-3-afrobeat: var(--choco-10);
  --surface-4-afrobeat: var(--choco-9);
  --surface-shadow-afrobeat: 25deg 65% 11%;
  --shadow-strength-afrobeat: 50%;

  --section-divider-afrobeat: var(--gradient-6);
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text-1: var(--text-1-light);
  --text-2: var(--text-2-light);
  --link: var(--brand-light);
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --surface-3: var(--surface-3-light);
  --surface-4: var(--surface-4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="pop"] {
  color-scheme: light;

  --brand: var(--brand-pop);
  --text-1: var(--text-1-pop);
  --text-2: var(--text-2-pop);
  --link: var(--brand-pop);
  --surface-1: var(--surface-1-pop);
  --surface-2: var(--surface-2-pop);
  --surface-3: var(--surface-3-pop);
  --surface-4: var(--surface-4-pop);
  --surface-shadow: var(--surface-shadow-pop);
  --shadow-strength: var(--shadow-strength-pop);
  --section-divider: var(--section-divider-pop);
}

[color-scheme="rnb"] {
  color-scheme: dark;

  --brand: var(--brand-rnb);
  --text-1: var(--text-1-rnb);
  --text-2: var(--text-2-rnb);
  --link: var(--brand-rnb);
  --surface-1: var(--surface-1-rnb);
  --surface-2: var(--surface-2-rnb);
  --surface-3: var(--surface-3-rnb);
  --surface-4: var(--surface-4-rnb);
  --surface-shadow: var(--surface-shadow-rnb);
  --shadow-strength: var(--shadow-strength-rnb);
  --section-divider: var(--section-divider-rnb);
}

[color-scheme="metal"] {
  color-scheme: dark;
  
  --brand: var(--brand-metal);
  --text-1: var(--text-1-metal);
  --text-2: var(--text-2-metal);
  --link: var(--brand-metal);
  --surface-1: var(--surface-1-metal);
  --surface-2: var(--surface-2-metal);
  --surface-3: var(--surface-3-metal);
  --surface-4: var(--surface-4-metal);
  --surface-shadow: var(--surface-shadow-metal);
  --shadow-strength: var(--shadow-strength-metal);
  --section-divider: var(--section-divider-metal);
}



[color-scheme="electronica"] {
  color-scheme: light;

  --brand: var(--brand-electronica);
  --text-1: var(--text-1-electronica);
  --text-2: var(--text-2-electronica);
  --link: var(--brand-electronica);
  --surface-1: var(--surface-1-electronica);
  --surface-2: var(--surface-2-electronica);
  --surface-3: var(--surface-3-electronica);
  --surface-4: var(--surface-4-electronica);
  --surface-shadow: var(--surface-shadow-electronica);
  --shadow-strength: var(--shadow-strength-electronica);
  --section-divider: var(--section-divider-electronica);
}

[color-scheme="rap"] {
  color-scheme: light;

  --brand: var(--brand-rap);
  --text-1: var(--text-1-rap);
  --text-2: var(--text-2-rap);
  --link: var(--brand-rap);
  --surface-1: var(--surface-1-rap);
  --surface-2: var(--surface-2-rap);
  --surface-3: var(--surface-3-rap);
  --surface-4: var(--surface-4-rap);
  --surface-shadow: var(--surface-shadow-rap);
  --shadow-strength: var(--shadow-strength-rap);
  --section-divider: var(--section-divider-rap);
}

[color-scheme="afrobeat"] {
  color-scheme: light;

  --brand: var(--brand-afrobeat);
  --text-1: var(--text-1-afrobeat);
  --text-2: var(--text-2-afrobeat);
  --link: var(--brand-afrobeat);
  --link-visited: var(--text-2-afrobeat);
  --surface-1: var(--surface-1-afrobeat);
  --surface-2: var(--surface-2-afrobeat);
  --surface-3: var(--surface-3-afrobeat);
  --surface-4: var(--surface-4-afrobeat);
  --surface-shadow: var(--surface-shadow-afrobeat);
  --shadow-strength: var(--shadow-strength-afrobeat);
  --section-divider: var(--section-divider-afrobeat);
}