main {
  --main-layout__secondary-bg: var(--surface-1);
  --main-layout__secondary-color: var(--text-1);

  --main-layout__primary-bg: var(--sand-12);
  --main-layout__primary-color: var(--surface-1);

  --main-layout__divider: var(--gradient-3);
  --main-layout__divider-height: 4px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;

  border: none;
}

@media (prefers-color-scheme: dark) {
  main {
    --main-layout__secondary-bg: var(--surface-1);
    --main-layout__secondary-color: var(--text-1);

    --main-layout__primary-color: var(--gray-12);
    --main-layout__primary-bg: var(--gray-1);
  }
}

main > section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  grid-auto-rows: auto;
  place-content: flex-start center;
  gap: var(--space-block--l);

  padding: var(--size-fluid-5) var(--app-gutter);

  background: var(--main-layout__primary-bg);
  color: var(--main-layout__primary-color);
}

main > section:first-of-type {
  background-color: var(--main-layout__secondary-bg);

  color: var(--main-layout__secondary-color);
}

main > section:nth-of-type(n + 2) {
  background-image: var(--main-layout__divider);
  background-size: 100% var(--main-layout__divider-height);
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  main > header {
    grid-column: span 2;
  }

  main > section:nth-of-type(n + 2) {
    background-image: none;
  }
}
