main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(33vw, auto);
  grid-auto-rows: 1fr;

  border: none;
}

main > section {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  grid-auto-rows: auto;
  place-content: flex-start center;
  gap: var(--space-block--l);

  padding: var(--size-fluid-5) var(--app-gutter);

  accent-color: var(--brand,var(--link));
  background-color: var(--surface-1);
  color: var(--text-2);
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
}

@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  main > section:not(:first-of-type) {
    background-image: var(--section-divider);
    background-size: 100% var(--section-divider-height);
    background-repeat: no-repeat;
  }
}
