.gig-form {
  display: grid;
  grid-template-rows: minmax(100vw, 720px);
  grid-template-columns: 100%;
  place-content: center;
  justify-items: center;

  overflow-x: auto;

  border: none;
}

.gig-form__wrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: minmax(100vw, 460px);

  padding: 0;
  border: none;
}

.gig-form__scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100vw;

  overflow: auto;
  scroll-snap-type: x mandatory;
}

.gig-form__scroller > * {
  scroll-snap-align: center;
}

.gig-form__section {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 48px;

  padding: var(--size-fluid-4);
  border: none;
}

.gig-form__info {
  display: grid;
  gap: 24px;

  max-width: var(--size-content-3);
  padding: 0;

  border: none;
}

.gig-form__section > label,
.gig-form__section fieldset > label {
  display: grid;
  gap: 16px;
}

.gig-form__scroll-hint {
  align-self: flex-end;
  justify-self: flex-end;

  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  font-size: var(--font-size-2);
  color: var(--text-2);
  opacity: 0.75;
}

.gig-form__scroll-hint svg {
  display: inline-block;
  fill: var(--text-1);
  width: 1.5em;
  margin-bottom: -8px;
  margin-left: 4px;
}

.gig-form__submit {
  display: grid;
  place-content: center;
  gap: 64px;

  padding: 24px;
}

.gig-form__average-score {
  display: grid;
  place-items: center;

  padding: 1em;
}

.gig-form__average-score > span {
  font-size: 4em;
}

.gig-form button[type=submit] {
  font-size: var(--font-size-4);
}
