.gigs-page {
  --bg-2: var(--sand-11);
  --color-2: var(--surface-1);
  --divider: var(--gradient-3);
  --divider-height: 4px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;

  border: none;
}

@media (prefers-color-scheme: dark) {
  .gigs-page {
    --bg-2: var(--surface-2);
    --color-2: var(--text-1);
    --divider: var(--gradient-4);
    --divider-height: 1px;
  }
}

.gigs-page > section {
  display: grid;
  grid-template-columns: auto;
  place-items: flex-start center;
  gap: 3em;

  padding: var(--size-fluid-5) var(--size-fluid-4);

  background: var(--surface-1);
}

.gigs-page > section:nth-child(2) {
  background-color: var(--bg-2);

  background-image: var(--divider);
  color: var(--color-2);

  background-size: 100% var(--divider-height);
  background-repeat: no-repeat;
}
