.groups-list ol,
.groups-list li {
  padding: 0;
  margin: 0;
}

.groups-list ol {
  display: grid;
  gap: 1em;

  list-style-type: none;
}

.groups-list a {
  display: flex;
  gap: 1em;
  place-items: center;
}

.groups-list button {
  font-size: var(--font-size-0);
}

.groups-list a:visited button {
  color: var(--text-1);
}

.groups-list a:hover button {
  text-decoration: none;
}