.link-section ol,
.link-section li {
  padding: 0;
  margin: 0;
}

.link-section ol {
  display: grid;
  gap: 1em;

  list-style-type: none;
}

.link-section a {
  display: flex;
  gap: 1em;
  place-items: center;
}

.link-section button {
  font-size: var(--font-size-0);
}

.link-section a:hover button {
  text-decoration: none;
}