.score-guides {
  display: grid;
  gap: 16px;
  place-content: center;
}

.score-guides[data-is-intersecting=false] {
  opacity: 0;
}

.score-guides[data-is-intersecting=true] > * {
  max-width: var(--size-content-2);

  animation: var(--animation-fade-out) reverse;

  animation-timing-function: var(--ease-squish-5);
  animation-duration: 3s;
  animation-fill-mode: backwards;
}

.score-guides > *:nth-child(2n) {
  animation-delay: 2s;
}

.score-guides > *:nth-child(3n) {
  animation-delay: 4s;
}

.score-guides > *:nth-child(4n) {
  animation-delay: 6s;
}

.score-guides > *:nth-child(5n) {
  animation-delay: 8s;
}

@media (prefers-reduced-motion) {
  .score-guides > * {
    animation-delay: 0s !important;
    animation-duration: 0s !important;
  }
}